---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import RatingForm from './forms/RatingForm.svelte';

import type { PaddingX, PaddingY } from '../tailwind/types/Padding';
import { getClassName, getPaddingXClasses, getPaddingYClasses } from '../tailwind/class_name_compiler';

interface StoryblokFormState extends SbBlokData {
    component: 'form_state',
    content: [SbBlokData],
    type: "intermediate" | "final" | "post-submit";
}

interface StoryblokForm extends SbBlokData, PaddingX, PaddingY {
    component: 'form',
    states: StoryblokFormState[],
    type: "rating";
}

interface Props {
    blok: StoryblokForm;
}

const { blok } = Astro.props;

const className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
    ]
});
const storyblokEditableData = storyblokEditable(blok);
---

{blok.states.length > 10 ? <div class="bg-red-500 text-white p-4">You can only have up to 10 states in a form</div> : null}
{blok.type == "rating" ? 
    <RatingForm className={className} storyblokEditableData={storyblokEditableData} states={blok.states.map(state => state.type)} client:load>
        {blok.states[0] ? () => {   
            return <div slot="name-0">
                {blok.states[0].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[1] ? () => {   
            return <div slot="name-1">
                {blok.states[1].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[2] ? () => {   
            return <div slot="name-2">
                {blok.states[2].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[3] ? () => {   
            return <div slot="name-3">
                {blok.states[3].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[4] ? () => {   
            return <div slot="name-4">
                {blok.states[4].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[5] ? () => {   
            return <div slot="name-5">
                {blok.states[5].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[6] ? () => {   
            return <div slot="name-6">
                {blok.states[6].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[7] ? () => {   
            return <div slot="name-7">
                {blok.states[7].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[8] ? () => {   
            return <div slot="name-8">
                {blok.states[8].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}
        {blok.states[9] ? () => {   
            return <div slot="name-9">
                {blok.states[9].content.map(item => {
                    return <StoryblokComponent blok={item} />
                })}
            </div>
        } : null}        
    </RatingForm> 
    : null
}