---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';

interface StoryblokImage extends SbBlokData {
    component: 'image',
    image: {
        id: number;
        alt: string;
        name: string;
        focus: string;
        title: string;
        source: string;
        filename: string;
        copyright: string;
        fieldtype: string;
        meta_data: {};
        is_external_url: boolean;
    },
    xs: boolean;
    sm: boolean;
    md: boolean;
    lg: boolean;
    xl: boolean;
    rounded?: "none" | "sm" | "md" | "lg" | "full";
    width?: number;
    height?: number;
    link: {
        id: number;
        url: string;
        linktype: string;
        fieldtype: string;
        cached_url: string;
    }
}


interface Props {
    blok: StoryblokImage;
}

const { blok } = Astro.props;

const possibleRounded = {
    none: "rounded-none",
    sm: "rounded-sm",
    md: "rounded-md",
    lg: "rounded-lg",
    full: "rounded-full"
}

const className = `
    image
    ${blok.xs ? "block" : "hidden"}
    ${blok.sm ? "sm:block" : "sm:hidden"}
    ${blok.md ? "md:block" : "md:hidden"}
    ${blok.lg ? "lg:block" : "lg:hidden"}
    ${blok.xl ? "xl:block" : "xl:hidden"}
    ${blok.rounded ? possibleRounded[blok.rounded] : ""}
`.replace(/\s+/g, ' ').trim();

if (blok.link?.linktype === 'story') {
    blok.link.cached_url = `/${blok.link.cached_url}`;
}

if (blok.link?.cached_url == '/home') {
    blok.link.cached_url = '/';
}
---

{blok.link 
? 
<a href={blok.link.cached_url}>
    <img 
        {...storyblokEditable(blok)}
        src={blok.image.filename} 
        alt={blok.image.alt} 
        class:list={[className]}
    />
</a> 
:
<img 
    {...storyblokEditable(blok)}
    src={blok.image.filename} 
    alt={blok.image.alt} 
    class:list={[className]}
/>
}

<style define:vars={{height: blok.height ? blok.height + "px" : "auto", width: blok.width ? blok.width + "px" : "auto"}}>
    .image {
        max-height: var(--height);
        width: var(--width);
    }
</style>